main {
    width: 80%;
    margin: 0 auto;
}

form {
    margin: 40px 0;

}

form label, form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

form legend {
    padding-top: 10px;
}

.input-padrao {
    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    padding: 10px 25px;
    width: 50%;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: rotate(360deg) scale(1.03);
}

table {
    margin: 20px 0 40px;
    width: 50%;
}

thead {
    background: #555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000;
    padding: 8px 15px;
}